.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin:0 5rem;
}
main{
    width:100%;
    margin: 0 auto;
    background-color: #ebeaea;

}
header{
    width: 100%;
    margin:0 auto;
    display:inline-block;
    
}

nav {
    font-family:"fjalla One";
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Need to write report on use of flex.*/
   
}
nav h1{
    color:white;
    font-size:24pt;

}
ul{
    width:100vw;
    margin:0 auto;
    
}
li{
    display:inline-block;
    vertical-align: center;
    margin:1rem;
}

nav .linkOrange{
    background-color:rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius:1rem;
    text-decoration: none;
    padding:.75rem;
    color:white
}

.link{
    padding:.75rem;
    text-decoration: none;
    background-color:rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
    
}
.link:hover {
    background-color:rgb(162, 162, 189);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
}
.cover{
    background-image:url("../images/animalShelterCover1.jpeg ");
    background-size: cover;
    background-repeat: no-repeat;
    padding:3rem 0;
} 
footer{
    margin-top:2rem;
    padding:1rem;
    text-align: center;
    background-color: rgb(100, 100, 182);
    color:white;
}

 
#logo{
    margin: .75rem;
    padding-left: 2rem;
    display:inline-block;
    height:80px;
    width:140px;
}
#statement
{
    display:inline-block;
    text-align: left;
    font-family: "Dancing Script", cursive;
    color:rgb(255, 255, 255);
    font-size: 24pt;
    margin-top:5rem;
    text-shadow:2px 2px 2px rgb(11, 10, 10);
    background-color:rgba(41, 52, 53, 0.663) ;
    padding:.5rem;
    border-radius: 1rem;
}
.image-section img{
    width:200px;
    height:200px;
}
.image-section {
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
   
}
.puppy{
    margin:1rem 2rem;
    padding:1rem 1rem 1rem 1rem;
    text-align: center;
}
h2{
    text-align: center;
    font-family: "Fjalla One", sans-serif;

}
.week{
    background-color:rgb(237, 185, 137);
    border: 2px rgb(226, 110, 64);
    border-radius:1rem;
    padding:2rem;
    color:white;
}

.image-section2 {
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
   
}
.puppy a{
    text-decoration:none;
    background-color: rgb(103, 103, 143);
    color:white;
    padding:1rem;
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
    margin:2rem;
    font-family:"fjalla One";
}
.puppy a:hover{
    text-decoration:none;
    color:white;
    padding:1.25rem;
    background-color:rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius:1rem;
    margin:2rem;
    font-size: larger;
    font-family:"fjalla One";
} 

#adoptBuster
{
    background-color:rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius:3rem;
    padding:1rem;
    text-decoration: none;
    color:white;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
}
#adoptBuster:hover
{
    background-color:rgb(119, 119, 170);
    border: 2px rgb(103, 103, 143);
    border-radius:3rem;
    padding:1.25rem;
    text-decoration: none;
    color:white;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
}

