.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin:0 5rem;
}
main{
    width:100%;
    margin: 0 auto;
    background-color: #ebeaea;

}
header{
    width: 100%;
    margin:0 auto;
    display:inline-block;
    
}

nav {
    font-family:"fjalla One";
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Need to write report on use of flex.*/
   
}
nav h1{
    color:white;
    font-size:24pt;
}
ul{
    width:100vw;
    margin:0 auto;
    
}
li{
    display:inline-block;
    vertical-align: center;
    margin:1rem;
}

nav .linkOrange{
    background-color:rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius:1rem;
    text-decoration: none;
    padding:.75rem;
    color:white
}

.link{
    padding:.5rem;
    margin:.25rem;
    text-decoration: none;
    background-color:rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius:.75rem;
    
}
.link:hover {
    background-color:rgb(162, 162, 189);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
}

footer{
    margin-top:2rem;
    padding:1rem;
    text-align: center;
    background-color: rgb(100, 100, 182);
    color:white;
}

 
#logo{
    margin: .75rem;
    padding-left: 2rem;
    display:inline-block;
    height:80px;
    width:140px;
}





